In [1]:
#import our dependencies
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient

In [2]:
# create variables for our files
file1 = "Resources/DailyProduction_New.csv"
file2 = "Resources/rseg_well_completion-168069.csv"

In [3]:
# read in our files
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [4]:
# Review df1 column names
df1.columns

Index(['Description', 'ReferenceID', 'APINumber1', 'Day', 'GasProd',
       'GasSales', 'OilProd', 'OilSales', 'WaterProd', 'WaterHauled',
       'DowntimeHours', 'HeaterTreaterUsage', 'TreaterFlare', 'OilTreatment',
       'WaterTreatment', 'InjectedWater', 'InjectedGas', 'TubingPressure',
       'CasingPressure', 'LinePressure', 'Choke', 'TreaterPressure',
       'TreaterTemp', 'LeaseFlare', 'ProductionNotes', 'Textbox4', 'Textbox5',
       'Textbox7', 'Textbox9', 'Textbox10', 'Textbox11', 'Textbox12',
       'Textbox13', 'Textbox14', 'Textbox15', 'Textbox17', 'Textbox18',
       'Textbox19'],
      dtype='object')

In [5]:
# Change the name of the APINumber1 so we can merge on that column
df1.rename(columns = {'APINumber1':'API10'}, inplace = True)

In [6]:
# Review df1 column name change
df1.columns

Index(['Description', 'ReferenceID', 'API10', 'Day', 'GasProd', 'GasSales',
       'OilProd', 'OilSales', 'WaterProd', 'WaterHauled', 'DowntimeHours',
       'HeaterTreaterUsage', 'TreaterFlare', 'OilTreatment', 'WaterTreatment',
       'InjectedWater', 'InjectedGas', 'TubingPressure', 'CasingPressure',
       'LinePressure', 'Choke', 'TreaterPressure', 'TreaterTemp', 'LeaseFlare',
       'ProductionNotes', 'Textbox4', 'Textbox5', 'Textbox7', 'Textbox9',
       'Textbox10', 'Textbox11', 'Textbox12', 'Textbox13', 'Textbox14',
       'Textbox15', 'Textbox17', 'Textbox18', 'Textbox19'],
      dtype='object')

In [7]:
# Review df2 column names
df2.columns

Index(['API_UWI', 'Unformatted_API_UWI', 'WellName', 'Country',
       'StateProvince', 'County', 'ENVOperator', 'StateWellType', 'Formation',
       'FirstProdDate', 'Latitude', 'Longitude', 'Latitude_BH', 'Longitude_BH',
       'TVD_FT', 'MD_FT', 'Field', 'Section', 'Township', 'Range',
       'Section_Township_Range', 'ElevationKB_FT', 'ElevationGL_FT',
       'PermitApprovedDate', 'DrillingEndDate', 'StateFileNumber',
       'UpperPerf_FT', 'LowerPerf_FT', 'FirstProdYear'],
      dtype='object')

In [8]:
# Change the name of the UWI to the same name as df1 so we can merge on that column
df2.rename(columns = {'Unformatted_API_UWI':'API10'}, inplace = True)

In [9]:
# Review df2 column name change
df2.columns

Index(['API_UWI', 'API10', 'WellName', 'Country', 'StateProvince', 'County',
       'ENVOperator', 'StateWellType', 'Formation', 'FirstProdDate',
       'Latitude', 'Longitude', 'Latitude_BH', 'Longitude_BH', 'TVD_FT',
       'MD_FT', 'Field', 'Section', 'Township', 'Range',
       'Section_Township_Range', 'ElevationKB_FT', 'ElevationGL_FT',
       'PermitApprovedDate', 'DrillingEndDate', 'StateFileNumber',
       'UpperPerf_FT', 'LowerPerf_FT', 'FirstProdYear'],
      dtype='object')

In [10]:
# Combine the two datasets
df3 = pd.merge(df1,df2,on= "API10")
df3.head()

,Description,ReferenceID,API10,Day,GasProd,GasSales,OilProd,OilSales,WaterProd,WaterHauled,...,Range,Section_Township_Range,ElevationKB_FT,ElevationGL_FT,PermitApprovedDate,DrillingEndDate,StateFileNumber,UpperPerf_FT,LowerPerf_FT,FirstProdYear
0,BELLE 1-12H - Well Completion,NaN,3305302658,6/1/2020,4.0,NaN,116.90,NaN,26.72,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010
1,BELLE 1-12H - Well Completion,NaN,3305302658,6/2/2020,4.0,NaN,45.09,NaN,347.36,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010
2,BELLE 1-12H - Well Completion,NaN,3305302658,6/3/2020,4.0,NaN,36.74,NaN,0.00,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010
3,BELLE 1-12H - Well Completion,NaN,3305302658,6/4/2020,4.0,NaN,36.74,NaN,6.68,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010
4,BELLE 1-12H - Well Completion,NaN,3305302658,6/5/2020,4.0,NaN,30.06,NaN,0.00,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010

In [11]:
# Check the merge
df3.columns

Index(['Description', 'ReferenceID', 'API10', 'Day', 'GasProd', 'GasSales',
       'OilProd', 'OilSales', 'WaterProd', 'WaterHauled', 'DowntimeHours',
       'HeaterTreaterUsage', 'TreaterFlare', 'OilTreatment', 'WaterTreatment',
       'InjectedWater', 'InjectedGas', 'TubingPressure', 'CasingPressure',
       'LinePressure', 'Choke', 'TreaterPressure', 'TreaterTemp', 'LeaseFlare',
       'ProductionNotes', 'Textbox4', 'Textbox5', 'Textbox7', 'Textbox9',
       'Textbox10', 'Textbox11', 'Textbox12', 'Textbox13', 'Textbox14',
       'Textbox15', 'Textbox17', 'Textbox18', 'Textbox19', 'API_UWI',
       'WellName', 'Country', 'StateProvince', 'County', 'ENVOperator',
       'StateWellType', 'Formation', 'FirstProdDate', 'Latitude', 'Longitude',
       'Latitude_BH', 'Longitude_BH', 'TVD_FT', 'MD_FT', 'Field', 'Section',
       'Township', 'Range', 'Section_Township_Range', 'ElevationKB_FT',
       'ElevationGL_FT', 'PermitApprovedDate', 'DrillingEndDate',
       'StateFileNumber', 'UpperPerf_FT', 'LowerPerf_FT', 'FirstProdYear'],
      dtype='object')

In [12]:
# Reorder so API is first column
df3 = df3[['API10', 'WellName', 'Description', 'ReferenceID','Day', 'GasProd', 'GasSales',
       'OilProd', 'OilSales', 'WaterProd', 'WaterHauled', 'DowntimeHours',
       'HeaterTreaterUsage', 'TreaterFlare', 'OilTreatment', 'WaterTreatment',
       'InjectedWater', 'InjectedGas', 'TubingPressure', 'CasingPressure',
       'LinePressure', 'Choke', 'TreaterPressure', 'TreaterTemp', 'LeaseFlare',
       'ProductionNotes', 'Textbox4', 'Textbox5', 'Textbox7', 'Textbox9',
       'Textbox10', 'Textbox11', 'Textbox12', 'Textbox13', 'Textbox14',
       'Textbox15', 'Textbox17', 'Textbox18', 'Textbox19', 'API_UWI',
       'Country', 'StateProvince', 'County', 'ENVOperator',
       'StateWellType', 'Formation', 'FirstProdDate', 'Latitude', 'Longitude',
       'Latitude_BH', 'Longitude_BH', 'TVD_FT', 'MD_FT', 'Field', 'Section',
       'Township', 'Range', 'Section_Township_Range', 'ElevationKB_FT',
       'ElevationGL_FT', 'PermitApprovedDate', 'DrillingEndDate',
       'StateFileNumber', 'UpperPerf_FT', 'LowerPerf_FT', 'FirstProdYear']]

In [13]:
# Drop extra columns and check output
df3 = df3.drop(df3.columns[[2,3,6,8, 26, 27, 28, 29, 30, 31, 32, 33, 34 ,35, 36, 37, 38, 39 ]], 1)
df3.head()

,API10,WellName,Day,GasProd,OilProd,WaterProd,WaterHauled,DowntimeHours,HeaterTreaterUsage,TreaterFlare,...,Range,Section_Township_Range,ElevationKB_FT,ElevationGL_FT,PermitApprovedDate,DrillingEndDate,StateFileNumber,UpperPerf_FT,LowerPerf_FT,FirstProdYear
0,3305302658,BELLE 1-12H,6/1/2020,4.0,116.90,26.72,NaN,0.0,0.0,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010
1,3305302658,BELLE 1-12H,6/2/2020,4.0,45.09,347.36,NaN,0.0,0.0,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010
2,3305302658,BELLE 1-12H,6/3/2020,4.0,36.74,0.00,NaN,0.0,0.0,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010
3,3305302658,BELLE 1-12H,6/4/2020,4.0,36.74,6.68,NaN,0.0,0.0,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010
4,3305302658,BELLE 1-12H,6/5/2020,4.0,30.06,0.00,NaN,0.0,0.0,NaN,...,102W,12-149N-102W,2249.0,2235.0,2005-05-23,2005-11-07,15840.0,9480.0,15108.0,*Pre-2010

In [14]:
# Create connection variable
conn = 'mongodb://localhost:27017'

In [15]:
# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

In [19]:
# Connect to well_history database.
db3 = client.well_history

In [20]:
# convert dataframe to dictionary
data = df3.to_dict(orient='records')

In [21]:
# insert the dataframe into mongo
db.well_history.insert_many(data)